/*
Format themes like so:
Name
Brief Description
Creator

Default Theme
This is the default theme 'nuff said
~Mikuchan03 owo
*/

/********
    Colors
********/
// Base
$background-color: #070F1D;
$text-color: #fff;

// Text
$white: #fff; // White Standard
$white-input: #CBCBCB;
$white-header: #7B8183;
$light-white: #9E9E9E;// Comment/Light
$gray: #d2d2d2; // Timestamps/Config
$dark-gray: #c4c4c4;
$alternate-grey: #dfdfdf; //creator color
$darkest-gray: #d4d4d4; //forum bar black
$ablack: #d2d2d2; //almost black
$black: #fff;

$forumbargray: #bababa; // forum arrows

$blue: #c14cfb;// blue standard
$green: #45903d;
$red: #f4732e;
$orange: #8c661e;

$dark-red: #c60000;

$favorite: #fcc100;
$special: #FFD52D;

// Fieldset
$fieldset-border: 2px;
$fieldset-border-radius: 3px;

$fieldset-themes: (
    'default': (
        'color': #999
    ),
    'red': (
        'color': #fe5746
    ),
    'green': (
        'color': #7cdc83
    )
);

// Currency
$bits: #F49B00;
$bucks: #009624;
$free: #0F7BFF;
$offsale: #cacaca;

// Labels
$label: #e6e6e6;

// Forum Tag
$forum-tag-bg: #343434;
$forum-tag-color: $white;

// Navbar
// define a different font color by using hover-color key
$nav: (
    'primary': (
        'background': #121212,
        'border-hover': #a8a8a8,
        'color': $white,
        'font-size': 1.1em,
        'padding-top': 6px
    ),
    'secondary': (
        'background': #b74915,
        'border-hover': #fff,
        'color': #fff,
        'font-size': .9em
    )
);

$nav-notif-bg: #c63200;
$nav-notif-color: $white;

$info-box-bg: #232323;

// Inputs
$input-bg: #333333;
$input-border: #2c2c2c;
$input-placeholder: #CBCBCB;

$input-group-button-bg:#5f358c;
$input-group-button-border: #9e61ff;
$input-group-button-color: #fff;

$input-box-bg: #333333;
$input-box-color: $white;
$input-box-border: #2b2b2b;

$textarea-color: $white;

// Select
$select-color: $white;
$select-background-color: #333333;
$select-border-color: #2c2c2c;
$select-border-radius: 3px;
//Cards
/*
Schema:
    color: font color
    background: background color
    border: border-color
*/

$card-colors: (
    'default': (
        color: #fff,
        background: #434343,
        border: #3d3d3d
    ),
    'green': (
        color: #5ab354,
        background: #26661a,
        border: #5ab354
    ),
    'blue': (
        color: #b586ff,
        background: #5f358c,
        border: #9e61ff
    ), 
    'red': (
        color: #ff8247,
        background: #8c411e,
        border: #ff6822
    ), 
    'orange': (
        color: #f4b64c,
        background: #8c661e,
        border: #f4b64c
    ) 
);
$card-bg: #383838;

$thumbnail-bg: #f9f9f9;
$thumbnail-bg-dark: #424242;

$item-content: #373737;

$footer-bg: #2f2f2f;
$footer-border: #212121;

$card-border: #5d5d5d;

$hover-card-viewed: #363636;
$hover-card-hover: #343434;

$dropdown-bg: #434343;
$dropdown-hover: #383838;

// Clans
$clan-logo-bg: #4f4f4f;
// Forum
$divider: #2e2e2e;

// Modal
$modal: rgba(0,0,0,0.4); //background of popup
$modal-bg: $card-bg; //pop up background

// Hover Cards (Awards, Clans)
$hover-color: #383838;

// Shop
$owns: #4CB04C;

// Games
$playing: #ff7800;

// Buttons
$button-colors: (
    'default': (
        color: #fff,
        background: #d0d0d0,
        border: #adadad
    ),
    'blue': (
        color: #fff,
        background: #5f358c,
        border: #9e61ff
    ),
    'green': (
        color: #fff,
        background: #26661a,
        border: #5ab354
    ),
    'red': (
        color: #fff,
        background: #8c411e,
        border: #ff6822
    ),
    'orange': (
        color: #fff,
        background: #8c661e,
        border: #f4b64c
    ),
    'hgreen': (
        color: #5ab354,
        background-color: #485945,
        border-color: #5ab354
    ),
    'hblue': (
        color: #9e61ff,
        background: #5f358c,
        border: #9e61ff
    ),
    'hred': (
        color: #ff6822,
        background: #8c411e,
        border: #ff6822
    ),
    'horange': (
        color: #f4b64c,
        background: #8c661e,
        border: #f4b64c
    ),
    'bits': (
        color: #fff,
        background: $bits,
        border: $bits
    ),
    'bucks': (
        color: #fff,
        background: $bucks,
        border: $bucks
    ),
    'free': (
        color: #fff,
        background: #6fb6db,
        border: #419dda
    ),
);

// Boxes
$box-border: #373737;
$box-shaded: #313131;

// Alerts
$alert-colors: (
    'success': #23d160,
    'error': #ef263d,
    'warning': #8648B9
);

$alert-color: #fff;

// Tabs
$tab-bg: #3f3f3f;
$tab-bg-active:$card-bg;
$tab-border: #393939;
$tab-color: #fff;
$tab-body-bg: $card-bg;

/********
    Other
********/

$box-shadow: 0 2px 5px rgba(0,0,0,.2);

$line-color: #313131; // hr

$border-radius: 5px;

// Tab Buttons
$tab-button-spacing: 10px; // white space on the bottom
$tab-button-hover: rgba(0,0,0,0.1); //background on hover
$tab-button-transparent-bg: rgba(0,0,0,0); // background color on unactive button
$tab-button-transparent-color: #393939; // color on an unactive button

// Vertical Tabs
$vertical-tabs-radius: $border-radius;
$vertical-tabs-padding: 10px;
$vertical-tabs-border-x: 4px;
$vertical-tabs-border: $red;
$vertical-tabs-hover: #343434;
$vertical-tabs-active: #363636;
$vertical-tabs-themes: (

);

// Status Dots
$offline: #a2a2a2;
$online: #00ab00;
// Pagintation
$pagintation-padding: 5px;
$pagintation-spacing: 5px;
$pagintation-default: #A8A8A8;
$pagintation-active: #ff7800;
$pagintation-thickness: 600;

// Blockquotes
$blockquote-default: #eee;
$blockquote-themes: (
    'red': #f4732e,
    'green': #45903d,
    'blue': #c14cfb,
    'orange': #8c661e
);

// Text Colors map (these will become classes)

$text-colors: (
    'bits': $bits,
    'bucks': $bucks,
    'free': $free,
    'offsale': $offsale,

    'red': $red,
    'blue': $blue,
    'green': $green,

    'white': $white,
    'light-gray': $light-white,
    'gray': $gray,
    'agray': $alternate-grey,
    'dark-gray': $dark-gray,
    'darkest-gray': $darkest-gray, //forum black
    'ablack': $ablack,

    'select-color': $select-color,

    'black': $black,

    'favorite': #fcc100
);

@import "../imports.scss";