.register-checkbox {
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    padding: 3px;
    margin: 0;
    width: 100%;
}

select.register {
    width: 100%;
    -webkit-appearance: none;
    border: 1px solid #d9d9d9;

    &.no-rad {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
    }
}