.settings {
    input {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 5px;
    }
    
    select {
        min-width: 0;
        height: 30px;
        padding: 0 8px;
    }

    .tfa-qr-code svg {
        width: 90% !important;
    }
}
