html, body {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100vh;
}

li {
    &:not(.normal) {
        list-style: none;
    }
}

ol, ul {
    &:not(.normal) {
        padding: 0;
        margin: 0;
    }
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

button, input, textarea, option, select {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

button {
    font-weight: inherit;
}

button:focus, select:focus {
    outline: none;
}
