.search-user-card {
    height: 100px;

    img {
        height: 80px;
        width: 80px;
        margin-right: 10px;
    }
    
    .description {
        display:-webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        width: calc(80%);
        white-space: normal;
    }
}